.main-btn {
  width: 100%;
  margin-bottom: $xl-size;
  padding: $m-size;
  background: $alt-bg;
  font-size: $m-size;
  color: #fff;
  border: none;
  border-radius: 0.325rem;
}

.main-btn:disabled {
  opacity: 0.5;
}

.button {
  background: lighten($alt-bg, 10%);
  border: none;
  border-radius: 0 0.325rem 0.325rem 0;
  color: #fff;
  padding: $s-size;
  font-size: $m-size;
}

.button--plain {
  background: none;
  color: lighten(#000, 25%);
  border: none;
  padding: 0;
  font-size: $s-size;
}
