// font-family
$font-stack: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

// colors
$main-bg: #1c0a24;
$alt-bg: #3b154c;
$primary-color: #1c0a24;
$faded-color: lighten(#1c0a24, 15%);
$neutral-color: #efefef;

// sizing
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 2.4rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
